/* Styling and Media Querie of container 2 */

#container-2 {
    display: flex;
}

.container-2-div-2 > h4 {
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    /* margin-bottom: 18px; */
    width: 450px;
}
.container-2-div-2-para1 {
    max-width: 495px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* margin-bottom: 40px; */
}