/* Navbar Styling and Media Querie */

#navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
}
.nav-div-2 > a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.nav-div-2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}
.nav-div-2 > a:hover {
  color: red;
}
.nav-div-2 > select {
  font-family: "Roboto", sans-serif;
  display: none;
}

/* Navbar Media Querie For Mobiles */
@media screen and (min-width: 320px) and (max-width: 480px) {

  .nav-div-2 > a {
    display: none;
  }
  .nav-div-2 > select {
    display: inline;
 
    text-align: end;
  }
  #navbar {
    display: flex;
    gap: 40%; 
  }
  .nav-div-2 > img {
    display: inline;
    background-color: red;
  }
}

/* Navbar Media Queries For Tablets */
@media screen and (min-width: 481px) and (max-width: 781px) {
  .nav-div-2 > a {
    display: none;
  }
  .nav-div-2 > img {
    display: inline;
    background-color: red;
  }
  #navbar {
    display: flex;
    gap: 73%;
   
  }
 
}

/* Navbar Media Queries For Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-div-2 > a {
    display: none;
  }
  .nav-div-2 > img {
    display: inline;
    background-color: red;
  }
  #navbar {
    display: flex;
    gap: 75%;
   
  }
}

/* After that For Computer & Big Screens */
